<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648728060547-ents3ag5f1d4vmrjfdaieku17754bjm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648728060547-ents3ag5f1d4vmrjfdaieku17754bjm5</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ImiSaq4wP9GBTM9EBZoworx7iMjfasE</string>
	<key>GCM_SENDER_ID</key>
	<string>648728060547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sphephelo-Mabena.FutureParking</string>
	<key>PROJECT_ID</key>
	<string>futureparking-4e33b</string>
	<key>STORAGE_BUCKET</key>
	<string>futureparking-4e33b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648728060547:ios:f9d4c1f637b31ac347f1b6</string>
	<key>DATABASE_URL</key>
	<string>https://futureparking-4e33b.firebaseio.com</string>
</dict>
</plist>